.message-wrapper {
  gap: 8px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.info {
    .dot {
      background-color: var(--uikit-gray-shades-stroke);
    }

    .text {
      color: var(--uikit-text-inactive);
    }
  }

  &.success {
    .dot {
      background-color: var(--uikit-succcess);
    }

    .text {
      color: var(--uikit-succcess);
    }
  }

  &.waring {
    .dot {
      background-color: var(--uikit-notification);
    }

    .text {
      color: var(--uikit-notification);
    }
  }

  &.error {
    .dot {
      background-color: var(--uikit-warning);
    }

    .text {
      color: var(--uikit-warning);
    }
  }

  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
}
