.finder-main-button {
  padding: 25px 45px 20px 45px;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  color: var(--uikit-text-secondary);
  background-color: var(--uikit-nav-background);
  border-bottom: 5px transparent solid;

  &:hover {
    color: var(--uikit-text-main);
    background-color: var(--uikit-buttons-bg);
  }

  &:active {
    background-color: var(--uikit-buttons-bg);
    border-bottom: 5px #172C33 solid;
    border-radius: 5px;
  }

  &:disabled {
    color: var(--uikit-text-inactive);
    background-color: var(--uikit-nav-background);
    border-bottom: 5px transparent solid;
  }
}
