<div class="dropdown-container" [ngClass]="disabled ? 'disabled' : '' ">
  <div (click)="toggle()" class="input-shadow">
    <input #origin
           [formControl]="searchControl"
           [value]="label"
           class="select-trigger"
           placeholder="Search..">
    <div class="input-arrow-wrapper">
      <div class="input-arrow" [ngClass]="isOpen ? 'opened' : ''"></div>
    </div>
  </div>

  <ng-template #dropdown>

    <div class="select-menu">

      <cdk-virtual-scroll-viewport itemSize="46" class="select-menu-inner"
                                   [style.height.px]="visibleOptions * 46">

        <div *ngIf="!options.length" class="no-results-item">No results found...</div>

        <div *cdkVirtualFor="let option of options" class="select-item"
             [class.active]="isActive(option)"
             (click)="select(option)">
          <ng-template [ngIf]="!optionTpl">
            <span [title]="option[labelKey]">{{option[labelKey]}}</span>
          </ng-template>
          <ng-template *ngTemplateOutlet="optionTpl; context: {$implicit: option}"></ng-template>
        </div>
      </cdk-virtual-scroll-viewport>

    </div>

  </ng-template>


</div>
