::ng-deep {
  .cdk-virtual-scroll-orientation-vertical .cdk-virtual-scroll-content-wrapper {
    position: inherit;
  }
}

$default-font: 'Nunito Sans', sans-serif;

.dropdown-container {

  &.disabled {
    pointer-events: none;
    opacity: 0.8;
  }

  .input-shadow {
    cursor: pointer;
    display: flex;

    &:hover {
      .input-arrow {
        color: var(--uikit-tertiary-main) !important;
      }
    }

    input {
      border: none;
      width: 100%;
      font-size: 14px;

      &:hover {
        box-shadow: 0 0 10px var(--uikit-tertiary-hover);
      }

      &:focus {
        outline: none;
      }
    }

    .input-arrow-wrapper {
      width: 0;
      flex-shrink: 0;
      display: inline-flex;
      align-items: center;

      .input-arrow {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid;
        position: relative;
        right: 24px;
        margin: auto;
        color: var(--uikit-gray-shades-fill);
      }

      .input-arrow.opened {
        transform: rotate(180deg);
        color: var(--uikit-tertiary-main);
      }
    }

    .select-trigger {
      min-width: 288px;
      background: var(--uikit-white);
      border: 1px solid var(--uikit-gray-shades-stroke);
      box-sizing: border-box;
      border-radius: 5px;
      color: var(--uikit-text-secondary);
      font-family: $default-font;
      font-style: normal;
      font-size: 16px;
      line-height: 150%;
      width: 180px;
      text-align: left;
      padding: 16px;
      cursor: pointer;

      &:focus, &:active {
        border: 1px solid var(--uikit-tertiary-main);
      }

      &::placeholder {
        color: var(--uikit-text-secondary);
        font-family: $default-font;
        font-style: normal;
        font-size: 16px;
        line-height: 150%;
      }
    }

  }

}

.select-menu {
  box-sizing: border-box;
  border-radius: 5px;
  width: 100%;
  color: #212529;
  text-align: left;
  list-style: none;
  overflow-x: hidden;
  background-color: var(--uikit-white);
  border: 1px solid rgba(0, 0, 0, 0.15);

  .cdk-virtual-scroll-content-wrapper {
    display: initial !important;
  }

  .select-menu-inner {
    max-height: 230px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px var(--uikit-tertiary-hover);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--uikit-tertiary-hover);
      border: 1px solid var(--uikit-tertiary-main);
      border-radius: 100px;
      min-height: 40px;
    }

    .select-item {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin: 0 12px;
      align-items: center;
      padding: 11px 13px;
      cursor: pointer;
      font-family: $default-font;
      font-style: normal;
      font-size: 16px;
      line-height: 150%;
      color: var(--uikit-text-secondary);
      &:hover,
      &.active {
        background-color: #FAF7F2;
        color: var(--uikit-text-main);
      }
      &:first-child {
        margin-top: 12px;
      }
      &:not(:last-child) {
        margin-bottom: 8px;
      }
      &:last-child {
        margin-bottom: 12px;
      }
    }

    .no-results-item {
      margin: 0 12px;
      display: flex;
      align-items: center;
      padding: 11px 13px;
      cursor: pointer;
      font-family: $default-font;
      font-style: normal;
      font-size: 16px;
      line-height: 150%;
      color: var(--uikit-text-secondary);
    }

  }
}
