.input-wrapper {
  * {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
  }

  input {
    padding: 16px;
    border-radius: 5px;
    color: var(--uikit-text-secondary);
    border: 1px solid var(--uikit-gray-shades-stroke);

    &::placeholder {
      color: var(--uikit-text-inactive);
    }

    &:hover {
      box-shadow: 0 0 10px var(--uikit-tertiary-hover);
    }

    &:focus {
      outline: none !important;
      border-color: var(--uikit-tertiary-shade);
      box-shadow: 0 0 10px var(--uikit-tertiary-hover);
    }

    &:read-only {
      background: var(--uikit-bg-main);
      border: 1px solid var(--uikit-gray-shades-stroke);
      box-shadow: none;
      cursor: default;
      pointer-events: none;
      user-select: none;
    }

    &.error {
      border: 1px solid var(--uikit-warning);
      box-shadow: none;
    }
  }
}
