<div class="container">
  <div class="container-row">

    <button appFButton appFinderPrimary [appFinderPrimaryVal]="kek" (click)="sms()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <div>Test</div>
    </button>

    <app-finder-main-button appFinderPrimary [appFinderPrimaryVal]="kek" [disabled]="disabled">
      {{ label }}
    </app-finder-main-button>

  </div>
</div>

<div class="container">
  <div class="container-row">

    <mat-radio-group aria-label="Select an option">
      <app-finder-radio value="1">Option 1</app-finder-radio>
      <app-finder-radio value="2">Option 2</app-finder-radio>
      <app-finder-radio value="2" [checked]="true" [disabled]="true" >Option 3</app-finder-radio>
    </mat-radio-group>

  </div>
</div>

<div class="container">
  <div class="container-row">

    <app-finder-checkbox [checked]="false" [disabled]="true">Test</app-finder-checkbox>

    <app-finder-checkbox [checked]="true" [disabled]="true">Test</app-finder-checkbox>

    <app-finder-checkbox>Test</app-finder-checkbox>

  </div>
</div>

<div class="container">
  <div class="container-row">
    <button (click)="selector.toggle()">Toggle</button>
    <finder-selector #selector [formControl]="control" [options]="items"></finder-selector>
  </div>
</div>

<div class="container">
  <div class="container-row">
    <app-finder-main-button [disabled]="disabled">
      {{ label }}
    </app-finder-main-button>
    <app-finder-main-button [disabled]="!disabled">
      {{ label }}
    </app-finder-main-button>
  </div>
</div>

<div class="container">
  <div class="container-row">
    <app-finder-button type="primary">
      {{ label }}
    </app-finder-button>
    <app-finder-button type="secondary">
      {{ label }}
    </app-finder-button>
    <app-finder-button type="tetriary">
      {{ label }}
    </app-finder-button>
  </div>
</div>

<div class="container">
  <div class="container-row">
    <app-finder-button [icon]="'home'" type="primary">
      <div>{{ label }}</div>
    </app-finder-button>

    <app-finder-button [icon]="'home'" type="secondary">
      <div>{{ label }}</div>
    </app-finder-button>

    <app-finder-button [icon]="'home'" type="tetriary">
      <div>{{ label }}</div>
    </app-finder-button>
  </div>
</div>

<div class="container">
  <div class="container-row">
    <app-finder-button [disabled]="!disabled" type="primary">
      {{ label }}
    </app-finder-button>
    <app-finder-button [disabled]="!disabled" type="secondary">
      {{ label }}
    </app-finder-button>
    <app-finder-button [disabled]="!disabled" type="tetriary">
      {{ label }}
    </app-finder-button>
  </div>
</div>

<div class="container">
  <div class="container-row">
    <app-finder-text-area [disabled]="true" [placeholder]="'Search'"></app-finder-text-area>

    <app-finder-text-area [placeholder]="'Text'" [maxLength]="200"></app-finder-text-area>

    <app-finder-text-area [formControl]="textArea" [placeholder]="'Text'" [maxLength]="200"></app-finder-text-area>
  </div>
</div>

<div class="container">
  <div class="container-row">
    <app-finder-input [type]="'text'" [disabled]="true" [placeholder]="'Search'"></app-finder-input>

    <app-finder-input [type]="'text'" [placeholder]="'Search'"></app-finder-input>

    <app-finder-input [type]="'text'" [formControl]="textBox" [placeholder]="'Search'"></app-finder-input>
  </div>
</div>

<div class="container">
  <div class="container-row">
    <app-finder-validation-message [type]="'info'" ></app-finder-validation-message>

    <app-finder-validation-message [type]="'success'"></app-finder-validation-message>

    <app-finder-validation-message [type]="'waring'"></app-finder-validation-message>

    <app-finder-validation-message [type]="'error'"></app-finder-validation-message>
  </div>
</div>

<hr>
<div class="cells-container">
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>

  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
</div>
<hr>
<div class="cells-container">
  <div><span>A</span></div>
  <div><span>A</span></div>
  <div><span>A</span></div>
</div>
<hr>
<div class="grid-auto-xs@xl grid-auto-sm@xs">
  <div class="child-gap-m-m child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>

  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
</div>
<hr>
<div class="grid-auto-xs grid-auto-md@md grid-gap-m-xl">
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
  <div class="child"></div>
</div>
<hr>
