:root {
  --text-main: #3D484C;
  --text-secondary: #6A7E85;
  --text-inactive: #B8BFC2;

  --primary: #172C33;
  --primary-hover: #213C45;

  --secondary-main: #C8B191;
  --secondary-hover: #D9C3A5;
  --secondary-shade: #FAF7F2;

  --nav-background: #D4EBF3;
  --buttons-bg: #EBF6FA;
  --buttons-bg-hover: #EBF6FA;

  --succcess: #EBF6FA;
  --succcess-shade: #CAE6BD;
  --succcess-transparent: #E9FAE1;

  --warning: #E8626D;
  --warning-shade: #F7CBCE;
  --warning-transparent: #FAE8EA;

  --notification: #F5A04B;
  --notification-shade: #FFDEBD;
  --notification-transparent: #FFF2E5;

  --bg-main: #F7F9FA;
  --bg-secondary: #D4EBF3;

  --gray-shades-dark: #818A8C;
  --gray-shades-fill: #9AAAAF;
  --gray-shades-stroke: #DCE3E5;
  --gray-shades-inactive: #EDF1F2;
  --gray-shades-light: #FCFDFD;

}
