.mat-button-base.finder-primary-button {
  min-width: 200px;
  cursor: pointer;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  color: #fff;
  background-color: var(--primary);

  span.mat-button-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      flex-grow: 1;
    }
  }

  &:hover {
    color: #fff;
    background-color: var(--primary-hover);
  }

  &:disabled {
    color: #AFBCC2;
    background-color: var( --gray-shades-inactive);
  }
}
