.finder__button {
  cursor: pointer;
  padding: 25px 45px 20px 45px;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  color: var(--text-secondary);
  background-color: var(--nav-background);
  border-bottom: 5px transparent solid;

  &:hover {
    color: var(--text-main);
    background-color: var(--buttons-bg);
  }

  &:active {
    background-color: var(--buttons-bg);
    border-bottom: 5px #172C33 solid;
    border-radius: 5px;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--text-inactive);
    background-color: var(--nav-background);
  }
}
