.finder-button {
  min-width: 200px;
  padding: 18px 21px;
  border: none;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  display: flex;
  align-items: center;

  mat-icon {
    color: var(--uikit-secondary-main);
    height: 18px;
    width: 18px;
    font-size: 18px;
  }

  &:disabled {
    mat-icon {
      color: var(--uikit-gray-shades-fill) !important;
    }
  }

  &.primary {
    background-color: var(--uikit-primary-main);
    color: var(--uikit-white);


    &:hover {
      background-color: var(--uikit-primary-hover);
    }

    &:active {
      background-color: var(--uikit-primary-main);
    }

    &:disabled {
      background-color: var(--uikit-gray-shades-inactive);
      color: var(--uikit-text-inactive);
    }
  }

  &.secondary {
    background-color: var(--uikit-secondary-buttons);
    color: var(--uikit-text-main);

    &:hover {
      background-color: var(--uikit-secondary-main);
      color: var(--uikit-white);

      mat-icon {
        color: var(--uikit-white);
      }
    }

    &:active {
      background-color: var(--uikit-secondary-buttons);
      color: var(--uikit-text-main);
    }

    &:disabled {
      background-color: var(--uikit-gray-shades-inactive);
      color: var(--uikit-text-inactive);
    }
  }

  &.tetriary {
    background-color: var(--uikit-white);
    color: var(--uikit-text-secondary);
    border: 2px solid var(--uikit-gray-shades-stroke);

    &:hover {
      color: var(--uikit-text-main);
      border: 2px solid var(--uikit-secondary-main);
    }

    &:active {
      color: var(--uikit-text-secondary);
      border: 2px solid var(--uikit-secondary-nav-background);
    }

    &:disabled {
      border: 2px solid var(--uikit-gray-shades-inactive);
      color: var(--uikit-text-inactive);
    }
  }

  .button-content {
    flex-basis: 100%;
  }
}

.finder-button.tetriary {
  padding: 16px 21px;
}
