@import "../../../assets/styles/variables";

.finder-checkbox {

  * {
    font-family: $uikit-default-font;
  }

  .mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
  }

  .mat-checkbox-frame {
    border: 1px solid var(--uikit-gray-shades-stroke) !important;
    border-radius: 2px;
  }

  .mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: var(--uikit-primary-main) !important;
    }
  }

  .mat-checkbox-disabled.mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: var(--uikit-gray-shades-inactive) !important;
    }
  }

  .mat-checkbox-ripple .mat-ripple-element {
    background-color: var(--uikit-primary-main) !important;
  }
}
