.finder-checkbox {
  .mat-checkbox-inner-container {
    width: 20px;
    height: 20px;
  }
  .mat-checkbox-frame {
    border: 1px solid #E4EBED !important;
    border-radius: 2px;
  }
  .mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: #C8B191 !important;
    }
  }
  .mat-checkbox-disabled.mat-checkbox-checked {
    .mat-checkbox-background {
      background-color: #EDF1F2 !important;
    }
  }
  .mat-checkbox-ripple .mat-ripple-element {
    background-color: #C8B191 !important;
  }
}
