
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use "./app/comp-theme" as comp;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/



$spome-app-primary: mat.define-palette(mat.$indigo-palette, 50);
$spome-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$spome-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$spome-app-theme: mat.define-light-theme((
  color: (
    primary: $spome-app-primary,
    accent: $spome-app-accent,
    warn: $spome-app-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($spome-app-theme);

/* You can add global styles to this file, and also import other style files */

@import "assets/styles/styles";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "app/comp-theme";
@import "./flashgrid";

/* (1920x1080) Full HD Display */
@media screen and (max-width: 1920px) {
  .cells-container {
    //height: 90vh;
    margin: 0 9.75rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    //grid-template-columns: 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr;

    div {
      background-color: #9AAAAF;
      min-width: 7rem;
      flex: 1;
      //width: 100%;
    }
  }
}

/* (1600x900) HD+ Display */
@media screen and (max-width: 1600px) {
  .cells-container {
    //height: 90vh;
    margin: 0 2.25rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    //grid-template-columns: 1fr 1fr 1fr;
    //grid-template-rows: 1fr 1fr 1fr;

    div {
      background-color: #9AAAAF;
      min-width: 9.375rem;
      flex: 1;
      //width: 100%;
    }
  }
}



//.finder-button {
//  //min-width: 200px;
//  //padding: 18px 21px;
//  //border: none;
//  //font-family: 'Nunito Sans', sans-serif;
//  //font-size: 16px;
//  //font-weight: bold;
//  //border-radius: 5px;
//  //display: flex;
//  //align-items: center;
//
//  mat-icon {
//    height: 18px;
//    width: 18px;
//    font-size: 18px;
//  }
//
//  .button-content {
//    flex-basis: 100%;
//  }
//}
//.finder-button.tetriary {
//  padding: 16px 21px;
//}
