:root {
  --uikit-text-main: #3D484C;
  --uikit-text-secondary: #6A7E85;
  --uikit-text-inactive: #B8BFC2;

  --uikit-primary: #172C33;
  --uikit-primary-hover: #213C45;

  --uikit-secondary-main: #C8B191;
  --uikit-secondary-hover: #D9C3A5;
  --uikit-secondary-shade: #FAF7F2;

  --uikit-nav-background: #D4EBF3;
  --uikit-buttons-bg: #EBF6FA;
  --uikit-buttons-bg-hover: #F7FDFF;

  --uikit-succcess: #96CD7C;
  --uikit-succcess-shade: #CAE6BD;
  --uikit-succcess-transparent: #F1FAED;

  --uikit-warning: #E8626D;
  --uikit-warning-shade: #F7CBCE;
  --uikit-warning-transparent: #FAE8EA;

  --uikit-notification: #F5A04B;
  --uikit-notification-shade: #FFDEBD;
  --uikit-notification-transparent: #FFF2E5;

  --uikit-bg-main: #F7F9FA;
  --uikit-bg-secondary: #D4EBF3;

  --uikit-gray-shades-dark: #818A8C;
  --uikit-gray-shades-fill: #9AAAAF;
  --uikit-gray-shades-stroke: #DCE3E5;
  --uikit-gray-shades-inactive: #EDF1F2;
  --uikit-gray-shades-light: #FCFDFD;

}
