.textarea-wrapper {
  color: #AFBCC2;

  textarea {
    color: #6A7E85;
    height: 116px;
    width: 288px;
    display: block;
    border: 1px solid #E4EBED;
    border-radius: 5px;

    &::placeholder {
      color: #AFBCC2;
    }

    &:hover {
      box-shadow: 0 0 10px #E2CCB0FF;
    }

    &:focus {
      outline: none !important;
      border-color: #D9C3A5;
      box-shadow: 0 0 10px #D9C3A5;
    }

    &:read-only {
      background: #F7F9FA;
      border: 1px solid #E4EBED;
      box-shadow: none;
      cursor: default;
      pointer-events: none;
      user-select: none;
    }

    &.error {
      border: 1px solid #E8626D;
      box-shadow: none;
    }
  }

  .textarea-counter {
    position: relative;
    left: -10px;
    top: -20px;
    float: right;
    height: 0;
  }
}
